@{
    ViewData["Title"] = "Home Page";
}

<!-- Feature ctg Section Start -->
<section class="feature-categories section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="feature-item-content">
                    <img src="~/img/feature/img1.jpg" alt="">
                    <div class="feature-content">
                        <div class="banner-text">
                            <h4>Men's Collection</h4>
                            <p>Summer Exclusive</p>
                        </div>
                        <a href="#" class="btn btn-common">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="feature-item-content">
                    <img src="~/img/feature/img3.jpg" alt="">
                    <div class="feature-content">
                        <div class="banner-text">
                            <h4>Women's Clothing</h4>
                            <p>Up to <span>70%</span> OFF</p>
                        </div>
                        <a href="#" class="btn btn-common">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="feature-item-content mb-30">
                    <img src="~/img/feature/img2.jpg" alt="">
                    <div class="feature-content">
                        <div class="banner-text accessories">
                            <h4>Accessories</h4>
                            <p>Handpicked for Men/Women</p>
                        </div>
                        <a href="#" class="btn btn-common">Shop Now</a>
                    </div>
                </div>
                <div class="feature-item-content">
                    <img src="~/img/feature/img4.jpg" alt="">
                    <div class="feature-content">
                        <div class="banner-text accessories">
                            <h4>Kids Essentials</h4>
                            <p>Best Collection for Kids</p>
                        </div>
                        <a href="#" class="btn btn-common">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature ctg Section End -->